body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1425px;
  height:789px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1425px;
  height:789px;
  display:flex;
}
#u1210 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1210_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:787px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:749px;
  width:1437px;
  height:787px;
  display:flex;
}
#u1211 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1211_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1425px;
  height:811px;
  background:inherit;
  background-color:rgba(42, 42, 42, 0.584313725490196);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:transparent;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1425px;
  height:811px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:transparent;
}
#u1212 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1212_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:668px;
  width:460px;
  height:65px;
  display:flex;
}
#u1213 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1213_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:687px;
  width:392px;
  height:20px;
  display:flex;
  font-size:14px;
}
#u1214 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1214_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
  background:inherit;
  background-color:rgba(131, 131, 131, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:738px;
  width:112px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1215 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1215_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:35px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:683px;
  width:388px;
  height:35px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1216 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1216_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:701px;
  width:0px;
  height:0px;
}
#u1217_seg0 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:-3px;
  width:55px;
  height:5px;
}
#u1217_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1217_seg2 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1217_text {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:738px;
  width:112px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1218 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1218_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1425px;
  height:352px;
  background:inherit;
  background-color:rgba(42, 42, 42, 0.584313725490196);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:transparent;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1184px;
  width:1425px;
  height:352px;
  display:flex;
  color:transparent;
}
#u1219 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1219_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:1137px;
  width:43px;
  height:40px;
  display:flex;
  font-size:12px;
  color:#FF0000;
}
#u1220 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1220_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:35px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:1196px;
  width:388px;
  height:35px;
  display:flex;
  color:#FFFFFF;
  text-align:center;
}
#u1221 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1221_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:1047px;
  top:1214px;
  width:0px;
  height:0px;
}
#u1222_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:68px;
  height:5px;
}
#u1222_seg1 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-25px;
  width:5px;
  height:28px;
}
#u1222_seg2 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1222_seg3 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-31px;
  width:18px;
  height:19px;
}
#u1222_text {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
  background:inherit;
  background-color:rgba(131, 131, 131, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:1257px;
  width:112px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1223 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1223_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:54px;
  background:inherit;
  background-color:rgba(42, 42, 42, 0.584313725490196);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:transparent;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:1130px;
  width:162px;
  height:54px;
  display:flex;
  color:transparent;
}
#u1224 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1224_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:54px;
  background:inherit;
  background-color:rgba(42, 42, 42, 0.584313725490196);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:transparent;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:1270px;
  top:1130px;
  width:155px;
  height:54px;
  display:flex;
  color:transparent;
}
#u1225 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1225_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:1257px;
  width:112px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1226 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1226_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1431px;
  height:203px;
  background:inherit;
  background-color:rgba(42, 42, 42, 0.584313725490196);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:transparent;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:927px;
  width:1431px;
  height:203px;
  display:flex;
  color:transparent;
}
#u1227 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1227_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:116px;
  background:inherit;
  background-color:rgba(42, 42, 42, 0.584313725490196);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:transparent;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:811px;
  width:728px;
  height:116px;
  display:flex;
  color:transparent;
}
#u1228 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1228_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:116px;
  background:inherit;
  background-color:rgba(42, 42, 42, 0.584313725490196);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:transparent;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:811px;
  width:135px;
  height:116px;
  display:flex;
  color:transparent;
}
#u1229 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1229_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
