body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:185px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5094 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:100px;
  width:152px;
  height:185px;
  display:flex;
}
#u5094 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5094_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1244px;
  height:874px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5095 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:100px;
  width:1244px;
  height:874px;
  display:flex;
  color:#000000;
}
#u5095 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5095_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u5096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u5096 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5096_text {
  border-width:0px;
  word-wrap:break-word;
}
#u5097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u5097 {
  border-width:0px;
  position:absolute;
  left:1329px;
  top:15px;
  width:48px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u5097 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5097_text {
  border-width:0px;
  word-wrap:break-word;
}
#u5098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5098 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:60px;
  width:25px;
  height:40px;
  display:flex;
}
#u5098 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5098_text {
  border-width:0px;
  white-space:nowrap;
}
#u5099 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3F9EFF;
}
#u5101 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:0px;
  width:71px;
  height:62px;
  display:flex;
  color:#3F9EFF;
}
#u5101 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5101_text {
  border-width:0px;
  white-space:nowrap;
}
#u5102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u5102 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:16px;
  width:40px;
  height:30px;
  display:flex;
}
#u5102 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5102_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5103 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:15px;
  width:30px;
  height:30px;
  display:flex;
  color:#3F9EFF;
}
#u5103 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5103_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u5104 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:13px;
  width:48px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u5104 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5104_text {
  border-width:0px;
  word-wrap:break-word;
}
#u5105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:27px;
}
#u5105 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:17px;
  width:50px;
  height:27px;
  display:flex;
}
#u5105 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5105_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u5106 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:13px;
  width:58px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u5106 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5106_text {
  border-width:0px;
  word-wrap:break-word;
}
#u5107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:32px;
}
#u5107 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:15px;
  width:1px;
  height:31px;
  display:flex;
}
#u5107 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5107_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:32px;
}
#u5108 {
  border-width:0px;
  position:absolute;
  left:1295px;
  top:15px;
  width:1px;
  height:31px;
  display:flex;
}
#u5108 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5108_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5109 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:15px;
  width:33px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u5109 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5109_text {
  border-width:0px;
  word-wrap:break-word;
}
#u5110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u5110 {
  border-width:0px;
  position:absolute;
  left:1380px;
  top:29px;
  width:10px;
  height:6px;
  display:flex;
}
#u5110 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5110_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.556862745098039);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(63, 158, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5111 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:134px;
  width:152px;
  height:34px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5111 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5111_text {
  border-width:0px;
  word-wrap:break-word;
}
#u5112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.556862745098039);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(63, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5112 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:103px;
  width:136px;
  height:31px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5112 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5112_text {
  border-width:0px;
  word-wrap:break-word;
}
#u5113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.556862745098039);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(63, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5113 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:168px;
  width:136px;
  height:34px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5113 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5113_text {
  border-width:0px;
  word-wrap:break-word;
}
#u5114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.556862745098039);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(63, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5114 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:202px;
  width:136px;
  height:34px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5114 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5114_text {
  border-width:0px;
  word-wrap:break-word;
}
#u5115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.556862745098039);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(63, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5115 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:202px;
  width:136px;
  height:34px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5115 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5115_text {
  border-width:0px;
  word-wrap:break-word;
}
#u5116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.556862745098039);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(63, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5116 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:236px;
  width:136px;
  height:34px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5116 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5116_text {
  border-width:0px;
  word-wrap:break-word;
}
#u5117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5117 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:186px;
  width:112px;
  height:50px;
  display:flex;
}
#u5117 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5117_text {
  border-width:0px;
  white-space:nowrap;
}
#u5118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5118 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:15px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5118 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5118_text {
  border-width:0px;
  word-wrap:break-word;
}
#u5119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:2px;
}
#u5119 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:165px;
  width:1135px;
  height:1px;
  display:flex;
}
#u5119 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5119_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5120 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:126px;
  width:94px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u5120 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5120_text {
  border-width:0px;
  white-space:nowrap;
}
#u5121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1135px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5121 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:261px;
  width:1135px;
  height:170px;
  display:flex;
  text-align:left;
}
#u5121 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5121_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5122 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:279px;
  width:313px;
  height:17px;
  display:flex;
}
#u5122 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5122_text {
  border-width:0px;
  white-space:nowrap;
}
#u5123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1135px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5123 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:458px;
  width:1135px;
  height:45px;
  display:flex;
  text-align:left;
}
#u5123 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5123_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1135px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5124 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:502px;
  width:1135px;
  height:96px;
  display:flex;
  text-align:left;
}
#u5124 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5124_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5125 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:473px;
  width:68px;
  height:17px;
  display:flex;
}
#u5125 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5125_text {
  border-width:0px;
  white-space:nowrap;
}
#u5126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5126 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:473px;
  width:20px;
  height:20px;
  display:flex;
}
#u5126 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u5126_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u5127 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:521px;
  width:300px;
  height:56px;
  display:flex;
  line-height:28px;
}
#u5127 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u5127_text {
  border-width:0px;
  word-wrap:break-word;
}
