body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1216px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:170px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2648 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:23px;
  width:1192px;
  height:170px;
  display:flex;
}
#u2648 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2648_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:46px;
}
#u2649 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:23px;
  width:1192px;
  height:46px;
  display:flex;
}
#u2649 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2649_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:876px;
}
#u2650 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:141px;
  width:1192px;
  height:876px;
  display:flex;
}
#u2650 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2650_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:701px;
}
#u2651 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1017px;
  width:1192px;
  height:701px;
  display:flex;
}
#u2651 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2651_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:83px;
}
#u2652 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:150px;
  width:386px;
  height:83px;
  display:flex;
  color:#FF0000;
}
#u2652 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2652_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:171px;
}
#u2653 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:1113px;
  width:295px;
  height:171px;
  display:flex;
  color:#FF0000;
}
#u2653 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2653_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1173px;
  height:203px;
}
#u2654 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:1447px;
  width:1173px;
  height:203px;
  display:flex;
  color:#FF0000;
}
#u2654 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2654_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:83px;
}
#u2655 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:942px;
  width:1192px;
  height:83px;
  display:flex;
  color:#FF0000;
}
#u2655 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2655_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:272px;
}
#u2656 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:582px;
  width:1192px;
  height:272px;
  display:flex;
  color:#FF0000;
}
#u2656 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2656_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:171px;
}
#u2657 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:1113px;
  width:289px;
  height:171px;
  display:flex;
  color:#FF0000;
}
#u2657 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2657_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3F9EFF;
}
#u2658 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:94px;
  width:121px;
  height:17px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3F9EFF;
}
#u2658 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2658_text {
  border-width:0px;
  white-space:nowrap;
}
#u2659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2659 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:94px;
  width:20px;
  height:20px;
  display:flex;
  color:#3F9EFF;
}
#u2659 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2659_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
