body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1216px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:170px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2628 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:23px;
  width:1192px;
  height:170px;
  display:flex;
}
#u2628 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2628_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:46px;
}
#u2629 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:23px;
  width:1192px;
  height:46px;
  display:flex;
}
#u2629 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2629_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:876px;
}
#u2630 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:141px;
  width:1192px;
  height:876px;
  display:flex;
}
#u2630 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2630_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:701px;
}
#u2631 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1017px;
  width:1192px;
  height:701px;
  display:flex;
}
#u2631 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2631_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:83px;
}
#u2632 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:150px;
  width:386px;
  height:83px;
  display:flex;
  color:#FF0000;
}
#u2632 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2632_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:171px;
}
#u2633 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:1113px;
  width:295px;
  height:171px;
  display:flex;
  color:#FF0000;
}
#u2633 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2633_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1173px;
  height:203px;
}
#u2634 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:1447px;
  width:1173px;
  height:203px;
  display:flex;
  color:#FF0000;
}
#u2634 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2634_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:83px;
}
#u2635 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:942px;
  width:1192px;
  height:83px;
  display:flex;
  color:#FF0000;
}
#u2635 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2635_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:272px;
}
#u2636 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:582px;
  width:1192px;
  height:272px;
  display:flex;
  color:#FF0000;
}
#u2636 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2636_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:171px;
}
#u2637 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:1113px;
  width:289px;
  height:171px;
  display:flex;
  color:#FF0000;
}
#u2637 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2637_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3F9EFF;
}
#u2638 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:94px;
  width:121px;
  height:17px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3F9EFF;
}
#u2638 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2638_text {
  border-width:0px;
  white-space:nowrap;
}
#u2639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2639 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:94px;
  width:20px;
  height:20px;
  display:flex;
  color:#3F9EFF;
}
#u2639 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2639_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
